@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.containerr {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 468px;
  background-image: url(/assets/background\ \(1\).png);
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-bottom: 80px;
}
.login-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo a {
  color: black;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  gap: 50px;
}
nav ul li a {
  color: #424551;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}
nav ul li a:hover {
  color: rgb(255, 0, 0);
}

.login-btn button {
  background-color: #f75e05;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  border: none;
  width: 200px;
  gap: 10px;
  border-radius: 4px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.content h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.content h1 {
  width: 1020px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #1e212c;
}

.image {
  margin-top: -200px;
  transform: translate(-600px);
}

.img {
  transform: translate(+682px);
  margin-top: +100px;
}

.radius {
  transform: translate(-679px);
  margin-top: +53px;
}

.nail {
  margin-top: -85px;
  transform: translate(+400px);
}

.hero {
  display: flex;
  align-items: center;
  padding: 120px 0;
  /* padding-top: 150px; */
  /* flex-direction: column; */
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  transform: translate(+170px);
}

.text h1 {
  font-size: 36px;
  /* transform: translate(10px); */
}

.text p {
  font-size: 16px;
  color: #424551;
  width: 600px;
  line-height: 180%;
  /* transform: translate(-200px); */
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 310px;
  transform: translate(-430px);
  gap: 4px;
}

.texts h1 {
  font-size: 28px;
}

.item {
  width: 450px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.item h2 {
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  width: 110%;
}

.input {
  width: 495px;
  height: 550px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid #e5e8ed;
  transform: translate(-100px);
  box-shadow: 0px 80px 80px -20px #9a9ca514;
  padding: 40px 32px;
}

.style {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 32px;
}

.style h2 {
  color: #1e212c;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.style h1 {
  color: #ff3f3a;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-bottom: 8px;
}

.style p {
  color: #787a80;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}

.btn {
  padding: 13px 190px;
  background-color: #f75e05;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: white;
}
.hero__text {
  display: flex;
}
