@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav__links--link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #424551;
}
.nav__links--link:hover {
  color: #ff3f3a;
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 36px;
}
.header__btns--btn {
  padding: 8px 40px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
}
.btns__btn--second {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  font-family: "Lato", sans-serif;
  color: #424551;
  display: flex;
  align-items: center;
  gap: 5px;
}

.events__top {
  padding-top: 50px;
  text-align: center;
}

.events__top--span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 10px;
}

.events__top--title {
  font-family: Lato;
  font-weight: 900;
  font-size: 46px;
}

.events__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px 0 150px;
  gap: 40px;
  margin-bottom: 60px;
}

.events__inputs--themes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.events__inputs--sort {
  display: flex;
  align-items: center;
  gap: 12px;
}
.events__inputs--sort select {
  text-indent: 10px;
}
.events__inputs--themes select {
  color: #424551;
}
.events__inputs--show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.events__themes--subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #424551;
}

.events__inputs--themes select {
  width: 160px;
  height: 44px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #d7dadd;
}

.events__sort--subtitle {
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
}

.events__inputs--sort select {
  width: 160px;
  height: 44px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #d7dadd;
}

.events__show--subtitle {
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
}

.events__inputs--show input {
  width: 72px;
  height: 44px;
  padding-left: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #d7dadd;
}

.eventa__show--span {
  color: #787a80;
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
}

.events__inputs--search input {
  width: 282px;
  outline: none;
  border: none;
  padding-left: 15px;
}

.events__inputs--search {
  width: 282px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #d7dadd 2px solid;
  padding-right: 10px;
  border-radius: 4px;
  outline: none;
}

.fa-magnifying-glass {
  color: #d7dadd;
}

.events__inputs--grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.events__themes--subtitle option {
  text-indent: #424551;
}

.events__grid--table {
  border: none;
  background-color: transparent;
  font-size: 17px;
  cursor: pointer;
}

.events__grid--list {
  border: none;
  background-color: transparent;
  font-size: 17px;
  cursor: pointer;
}
#list.grids {
  width: 100%;
  height: 1354px;
  padding: 0 150px;
}
#box.list {
  width: 1200px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #e5e8ed;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;  
  transition: 0.2s;
  background-color: #fff;
  margin-bottom: 24px;
}
.grid__row--date {
  display: flex;
  align-items: center;
  gap: 20px;
}

.grid__date--date {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #ff3f3a;
}
.grid__date--span {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
}
.grid__span--time {
  color: #787a80;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
}
.grid__row--text {
  flex: 1;
  width: 757px;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.grid__row--subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
  padding-bottom: 4px;
  text-align: start !important; 
}

.grid__subtitle--span {
  color: #787a80;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.grid__row--btn {
  padding: 10px 32px;
  border: 1px solid #ff3f3a;
  background-color: transparent;
  color: #ff3f3a;
  cursor: pointer;
  border-radius: 4px;
}

.grid__row--btn:hover {
  background: linear-gradient(#ff3f3a, #f75e05);
  color: #fff;
  transition: 0.2s;
}

.grid__list--row:hover {
  box-shadow: 0px 80px 80px -20px #ff3f3a29;
  transform: scale(1.05);
}
.miss {
  width: 100%;
  height: 564px;
  background-color: #ffd8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.miss__span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.miss__title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #1e212c;
  width: 810px;
  text-align: center;
  margin-bottom: 60px;
}
.miss__input {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.miss__input--btn {
  padding: 15px 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border: none;
  border-radius: 4px;
}
.miss__input--input {
  height: 52px;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #d7dadd;
  text-indent: 16px;
}
footer {
  width: 100%;
  height: 328px;
  background-color: #1e212c;
  padding: 80px 150px;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 80px;
}
.footer__top--first {
  display: flex;
  flex-direction: column;
}
.top__first--subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #9a9ca5;
  width: 279px;
  margin-top: 24px;
  margin-bottom: 38px;
}
.footer__links--icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.links__icons--icon {
  color: #9a9ca5;
  width: 30px;
  height: 30px;
}
.links__icons--icon:hover {
  color: #fff;
}
.footer__top--second {
  width: 109px;
}
.footer__top--second,
footer__top--third,
footer__top--fourth,
footer__top--fifth,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}

.footer__top--third {
  width: 109px;
}
.footer__top--fourth {
  width: 157px;
}
.footer__top--fifth {
  width: 289px;
}
.footer__top--second,
footer__top--third,
footer__top--fourth,
footer__top--fifth,
li {
  margin-bottom: 8px;
}
.footer__top--third,
footer__top--fourth,
footer__top--fifth,
li a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #9a9ca5;
  text-transform: capitalize;
}
.footer__top--second li {
  margin-bottom: 8px;
}
.footer__top--fourth li a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__top--fifth input {
  width: 286px;
  height: 36px;
  border-radius: 4px;
  text-indent: 12px;
  background-color: #47484c;
  border: 1px solid #9a9ca5;
  margin-bottom: 12px;
}
.footer__top--fifth p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  background-color: #47484c;
  padding: 0 150px;
}
.footer__bottom--first {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 4px;
}
.bottom__first--icon {
  color: #ff3f3a;
}
.footer__bottom--second {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #9a9ca5;
}

#box.grids{
  width: 390px;
  height: 323px;

}

#list.grids{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}