@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}
.hero {
  width: 100%;
  height: 900px;
  background-image: url(/assets/background.png);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav__links--link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #424551;
}
.nav__links--link:hover {
  color: #ff3f3a;
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 36px;
}
.header__btns--btn {
  padding: 8px 40px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
}
.btns__btn--second {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  font-family: "Lato", sans-serif;
  color: #424551;
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero__text {
  width: 100%;
  gap: 150px;
  padding: 0 0 0 150px;
  display: flex;
  align-items: center;
}
.box {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.hero__text--play {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #ffc6c3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text__play--box {
  width: 55px;
  height: 55px;
  background-color: #ff3f3a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.box__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1e212c;
}
.hero__text--title {
  width: 496px;
  font-family: "Lato", sans-serif;
  color: #1e212c;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  margin-bottom: 60px;
}
.hero__text--btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.text__btns--first {
  padding: 15px 40px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #f75e05;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.text__btns--second {
  padding: 15px 40px;
  border: 1px solid #f75e05;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: "Lato", sans-serif;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
}
.hero__bottom {
  display: flex;
  align-items: center;
  gap: 66px;
  padding: 100px 150px;
}
.hero__bottom--box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero__bottom--box h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #1e212c;
}
.hero__bottom--box p {
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #1e212c;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0%;
}
.hero__bottom--dots {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff3f3a;
}
.banner {
  width: 100%;
  height: 850px;
  padding: 180px 150px;
  display: flex;
  gap: 135px;
  background-image: url(/assets/background\ \(3\).png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 300px;
}
.banner__text--span {
  font-family: "Lato", sans-serif;
  color: #1e212c;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.banner__text--title {
  font-family: "Lato", sans-serif;
  color: #1e212c;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-bottom: 40px;
}
.banner__text--box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 12px;
}
.banner__text--box span {
  font-family: "Lato", sans-serif;
  color: #424551;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}
.last {
  margin-bottom: 48px;
}
.banner__text--btn {
  padding: 10px 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border: none;
  border-radius: 4px;
}
.workers {
  width: 100%;
  height: 900px;
  padding: 0 0 0 150px;
}
.workers__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 100px 0 0;
}
.workers__header--text span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.workers__header--text h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #1e212c;
}
.workers__header--btn {
  padding: 18px 35px;
  border: 1px solid;
  border: #ff3f3a 1px solid;
  background-color: transparent;
  color: #ff3f3a;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
}
.workers__header--btn:hover {
  background: linear-gradient(#ff3f3a, #f75e05);
  color: #fff;
  transition: 0.2s;
}
#worker__container {
  width: 100%;
  height: 702px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.worker__container--box {
  width: 600px;
  height: 215px;
  display: flex;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px #9a9ca514;
}
.worker__container--box:hover {
  box-shadow: 0px 80px 80px -20px #9a9ca529;
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}
.container__box--text {
  padding: 32px;
}
.box__text--job {
  width: 112px;
  height: 23px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 20px;
}

.box__text--job--marketing {
  background-color: #03cea4;
}

.box__text--job--other {
  background-color: #5a87fc;
}
.box__text--title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1e212c;
  margin-bottom: 20px;
}
.box__text--price {
  display: flex;
  align-items: center;
  gap: 16px;
}
.text__price--price {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ff4242;
}
.text__price--who {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #787a80;
}
.benefit {
  width: 100%;
  height: 820px;
  padding: 150px;
  text-align: center;
}
.benefit__span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.benefit__title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-bottom: 60px;
}
.benefit__links {
  display: flex;
  align-items: center;
}
.benefit__links--li {
  width: 307px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: #9a9ca5;
  margin-bottom: 60px;
}
.benefit__links--li:hover {
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
}
.benefit__container {
  display: flex;
  align-items: center;
  gap: 195px;
  text-align: start;
}
.benefit__conntainer--text h2 {
  font-family: "Lato", sans-serif;
  color: #1e212c;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.benefit__conntainer--text p {
  font-family: "Lato", sans-serif;
  width: 405px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #424551;
}
.event {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/background\ \(4\).png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event__span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
  margin-top: 80px;
}
.event__title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #1e212c;
  margin-bottom: 60px;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}

.grid__list--row {
  width: 1200px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #e5e8ed;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.2s;
  background-color: #fff;
}
.grid__row--date {
  display: flex;
  align-items: center;
  gap: 20px;
}

.grid__date--date {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #ff3f3a;
}
.grid__date--span {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
}
.grid__span--time {
  color: #787a80;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
}
.grid__row--text {
  width: 757px;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.grid__row--subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
  padding-bottom: 4px;
}

.grid__subtitle--span {
  text-align: start;
  color: #787a80;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.grid__row--btn {
  padding: 10px 32px;
  border: 1px solid #ff3f3a;
  background-color: transparent;
  color: #ff3f3a;
  cursor: pointer;
  border-radius: 4px;
}

.grid__row--btn:hover {
  background: linear-gradient(#ff3f3a, #f75e05);
  color: #fff;
  transition: 0.2s;
}

.grid__list--row:hover {
  box-shadow: 0px 80px 80px -20px #ff3f3a29;
  transform: scale(1.05);
}
.event__bottom {
  display: flex;
  align-items: center;
  gap: 40px;
}
.event__bottom--title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1e212c;
}
.event__bottom--link {
  padding: 18px 40px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: none;
  letter-spacing: 0.5px;
  border-radius: 4px;
  cursor: pointer;
}
.crft {
  width: 100%;
  height: 560px;
  display: flex;
  padding: 150px 100px 0 150px;
}
.crft__text--span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #1e212c;
  margin-bottom: 8px;
}
.crft__text--title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #1e212c;
  margin-bottom: 48px;
}
.crft__text--subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #424551;
  margin-bottom: 32px;
}
.craft__text--box {
  display: flex;
  align-items: center;
  gap: 40px;
}
.team {
  width: 100%;
  height: 1570px;
  padding: 166px 150px;
  background-image: url(/assets/Background\ \(5\).png);
}
.team__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.header__text--span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.header__text--title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  letter-spacing: 0%;
  color: #1e212c;
}
.team__header--next {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__next--box {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__next--box:hover {
  background-color: #ff3f3a;
  color: #fff;
}
#team__container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 180px;
}
.team__container--box {
  width: 285px;
  height: 416px;
}
.container__box--img2 {
  width: 285px;
  height: 340px;
  background-color: #ffcf2d;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 16px;
}
.box__img--img {
  width: 245px;
  height: 320px;
}
.container__box--name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 4px;
}
.container__box--job {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: #787a80;
}
.team__container--box:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}
.test {
  width: 100%;
  height: 500px;
}
.test__center {
  text-align: center;
}
.test__span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.test__title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 60px;
}
.test__box {
  display: flex;
  align-items: center;
  gap: 69px;
}
.next__box--container {
  width: 1020px;
  height: 344px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 64px 105px;
}
.box__container--flex {
  display: flex;
  gap: 30px;
}
.container__flex--subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #424551;
}
.box__container--profile {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile__text--name {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #1e212c;
  margin-bottom: 4px;
}
.profile__text--job {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #787a80;
}
.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lines {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 60px;
}
.lines__box {
  width: 30px;
  height: 5px;
  background-color: #b3b7bc;
  border-radius: 5px;
}
.lines__box:hover {
  background-color: #424551;
}
.blog {
  width: 100%;
  height: 855px;
  padding: 120px 150px;
  position: relative;
}
.blog__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.blog__header--btn {
  padding: 17px 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border: none;
  border-radius: 4px;
}
.blog__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}
.blog__container--box {
  width: 390px;
  height: 507px;
}
.box__img--what {
  position: absolute;
  width: 85px;
  height: 30px;
  background-color: #fff;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #424551;
}
.blog__box--time {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.blog__box--time p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #787a80;
  display: flex;
  align-items: center;
  gap: 8px;
}
.stalba {
  width: 2px;
  height: 22px;
  border-radius: 4px;
  background-color: #787a80;
}
.blog__box--tilte {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}
.blog__box--subtilte {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #424551;
  margin-bottom: 16px;
}
.blog__box--link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #1e212c;
  display: flex;
  align-items: center;
  gap: 8px;
}
.box__link--icon {
  color: #ff3f3a;
}
.blog__box--link:hover .box__link--icon {
  transform: rotate(180deg);
  transition: 0.5s ease;
}
.miss {
  width: 100%;
  height: 564px;
  background-color: #ffd8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.miss__span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.miss__title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #1e212c;
  width: 810px;
  text-align: center;
  margin-bottom: 60px;
}
.miss__input {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.miss__input--btn {
  padding: 15px 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border: none;
  border-radius: 4px;
}
.miss__input--input {
  height: 52px;
  flex: 1;
  border-radius: 4px;
  border: 1px solid #d7dadd;
  text-indent: 16px;
}
